.faves-section {
  background-color: rgb(144, 157, 108);
  padding: 3%;
  height: 100%;
  width: 100;
}

.fave-title {
  font-size: large;
  font-style: italic;
  font-size: 1.5em;
  color:#deb38f;
  font-family: 'Philosopher', sans-serif;
  background-color: rgba(47, 65, 5, 0.7);
  border-radius: 25px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
}

body {
  background-color: rgb(144, 157, 108);
}

/* MEDIUM BREAKPOINT */
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .fave-title {
    font-size: large;
    font-style: italic;
    font-size: 1.5em;
    color:#deb38f;
    font-family: 'Philosopher', sans-serif;
    background-color: rgba(47, 65, 5, 0.7);
    border-radius: 25px;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 2%
  }

  .faves-section {
    background-color: rgb(144, 157, 108);
    padding: 3%;
    height: 100%;
    width: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
    
}

/* LARGE BREAKPOINT */
@media screen and (min-width: 1025px) {
}