main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

main::before {
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* height: calc(100vh - px); */
  background-image: url('/public/shutterstock_1077476951.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* transform: scaleX(-1); */
  content: "";
  z-index: -1;
  align-items: center;
}

.home-title {
  font-style: italic;
  font-size: 1.5em;
  margin: 3%;
  max-width: 100%;
  color:#deb38f;
  font-family: 'Philosopher', sans-serif;
  background-color: rgba(47, 65, 5, 0.7);
  border-radius: 25px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
}

.main-overlay {
  width: 75%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  background-color: rgba(96, 107, 65, 0.8);
  border-radius: 25px;
  overflow-y: scroll;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  text-align: center;
  margin-bottom: 5%;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

h2 {
  margin: 2%;
  margin-top: 7%;
  font-size: large;
}

h3 {
  margin: 2%;
  font-size: small;
}

/* MEDIUM BREAKPOINT */
@media screen and (min-width: 750px) and (max-width: 1024px) {

  main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 100%;
    align-items: center;
    height: 100vh
  }

  main::before {
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* height: calc(100dvh - 200px); */
    background-image: url('/public/shutterstock_1077476951.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* transform: scaleX(-1); */
    content: "";
    z-index: -1;
    align-items: center;
  }
  
  .home-title {
    font-style: italic;
    font-size: 2em;
    margin: 3%;
    max-width: 100%;
    color:#deb38f;
    font-family: 'Philosopher', sans-serif;
    background-color: rgba(47, 65, 5, .7);
    border-radius: 25px;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .main-overlay {
    width: 75%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: rgba(96, 107, 65, 0.83);
    border-radius: 25px;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
    text-align: center;
    margin-bottom: 5%;

    &::-webkit-scrollbar {
      width: 12px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }

  
  h2 {
    margin: 2%;
    margin-top: 7%;
    font-size: large;
  }
  
  h3 {
    margin: 2%;
    font-size: small;
  }
}

/* LARGE BREAKPOINT */
@media screen and (min-width: 1025px) {
  main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  
  main::before {
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* height: calc(100dvh - 231px); */
    background-image: url('/public/shutterstock_1077476951.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* transform: scaleX(-1); */
    content: "";
    z-index: -1;
    align-items: center;
  }
  
  .home-title {
    font-style: italic;
    font-size: 1.9em;
    margin: 3%;
    max-width: 100%;
    color:#deb38f;
    font-family: 'Philosopher', sans-serif;
    background-color: rgba(47, 65, 5, 0.7);
    border-radius: 30px;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  .main-overlay {
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: rgba(96, 107, 65, 0.8);
    border-radius: 25px;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
    text-align: center;

    &::-webkit-scrollbar {
      width: 12px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
  
  h2 {
    margin: 2%;
    margin-top: 7%;
    font-size: 1.4em;
  }
  
  h3 {
    margin: 2%;
    font-size: medium;
  }
}